.addTransaction__container {
    margin-top: 30px;
    padding: 10px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    /*background-color: #a8a8a8;*/
    background-image: linear-gradient(#99873b, #adad2a)
}

.addTransaction__container h4 {
    margin: 0;
}

.form__formControl {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form__formControl input {
    padding: 5px;
    outline: none;
}

.form__button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #40007f;
    transition: all 0.3s ease;
}

.form__button:hover {
    background-color: rgba(64, 0, 127, 0.63);
}
