.transaction__container_plus {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #000000;
    border-right: 10px solid rgb(0, 142, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 3px #000000;
}

.transaction__container_minus {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #000000;
    border-right: 10px solid rgb(142, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 10px #000000;
}

.transaction__button {
    border: none;
    border-radius: 3px;
    background-color: rgb(142, 0, 0);
    transition: all 0.3s ease;
    cursor: pointer;
}

.transaction__button:hover {
    color: #ffffff;
    background-color: rgb(212, 0, 0);
}