.incomeExpense__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-radius: 5px;
    background-color: #a8a8a8;
}

.incomeExpense__box {
    padding: 10px 0;
    text-align: center;
}

.incomeExpense__heading {
    margin: 0;
}

.incomeExpense__money {
    margin: 10px 0 0 0;
    font-size: 30px;
    font-weight: 600;
}

.incomeExpense__money_plus {
    color: #008e0a;
}

.incomeExpense__money_minus {
    color: #8e0000;
}