.balance__container {
    padding: 10px;
    background-color: rgba(153, 135, 59, 0.51);
}

.balance__heading {
    margin: 0;
}

.balance__figures {
    font-size: 40px;
    font-weight: 600;
    color: #40007f;
}